<div id="ruleTestComponent" class="content-wrapper" style="min-height: 1170px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            规则灰度测试
        </h1>
    </section>
    <div class="pad margin no-print">
        <div class="form-inline">
            <label class="mr-sm-2" for="inlineFormCustomSelect">事件</label>
            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect" v-model="filter.event_id">
                <option value="0" selected>Choose...</option>
                <option v-for="event in eventList.items" v-bind:value="event.event_id">{{event.event_name}}</option>
            </select>

            <label>时间范围:</label>
            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" data-provide="datepicker"
                   data-date-format="yyyy-mm-dd" placeholder="起始时间" id="filter_start_time">

            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon">~</div>
                <input type="text" class="form-control" data-provide="datepicker" data-date-format="yyyy-mm-dd"
                       placeholder="起始时间" id="filter_end_time">
            </div>
            <button
                    v-bind:disabled="isRunningTest"
                    v-on:click="runTest()" type="submit" class="btn btn-primary">测试
            </button>
        </div>
    </div>
    <!-- Main content -->
    <section class="invoice">
        <!-- title row -->
        <div class="row">
            <table class="table risk-test-tbl">
                <thead>
                <tr role="row">
                    <th class="col-xs-2"></th>
                    <th class="col-xs-5">New Result</th>
                    <th class="col-xs-5">Old Result</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item, index) in result.old_result">
                    <td>
                        <div>風險等級</div>
                        <div>風險分</div>
                        <div>花費時間(s)</div>
                        <div>規則數</div>
                    </td>
                    <td>
                        <div v-bind:class="riskLevelBackground(result.new_result[index].level)">{{result.new_result[index].level}}</div>
                        <div>{{result.new_result[index].score}}</div>
                        <div>{{result.new_result[index].score}}</div>
                        <div>{{result.new_result[index].rule_result_list.length}}</div>
                    </td>
                    <td>
                        <div v-bind:class="riskLevelBackground(result.old_result[index].level)">{{result.old_result[index].level}}</div>
                        <div>{{result.old_result[index].score}}</div>
                        <div>{{result.new_result[index].score}}</div>
                        <div>{{result.new_result[index].rule_result_list.length}}</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

    <div class="clearfix"></div>
</div>